@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 29% 95%; /* #F2F3F7 */
    --foreground: 235 17% 41%; /* #555879 */
    --card: 0 0% 100%;
    --card-foreground: 235 17% 41%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 17% 41%;
    --primary: 232 23% 60%; /* #7B82B3 */
    --primary-foreground: 0 0% 100%;
    --secondary: 232 23% 90%;
    --secondary-foreground: 235 17% 25%;
    --muted: 228 29% 88%;
    --muted-foreground: 235 17% 50%;
    --accent: 244 40% 73%; /* #A29FD7 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 23% 85%;
    --input: 232 23% 88%;
    --ring: 232 23% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 17% 15%;
    --foreground: 228 29% 90%;
    --card: 235 17% 18%;
    --card-foreground: 228 29% 90%;
    --popover: 235 17% 18%;
    --popover-foreground: 228 29% 90%;
    --primary: 232 23% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 235 17% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 235 17% 25%;
    --muted-foreground: 228 29% 70%;
    --accent: 244 40% 73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 17% 25%;
    --input: 235 17% 25%;
    --ring: 232 23% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
